{{#if message}}
    {{message}}
{{/if}}
<table border="1">

        <tr>

                <th>Carnet</th>
                <th>Laboratorio</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Hora inicio</th>
                <th>Hora final</th>

        </tr>
 
       Record Found {{ rese.length  }}
        {{#each rese}}
        <tr>

                <td>{{carnet_user}}</td>
                <td>{{numero_laboratorio}}</td>
                <td>{{estado}}</td>
                <td>{{fecha}}</td>
                <td>{{hora_inicio}}</td>
                <td>{{hora_final}}</td>
                <td>
                        <a href='editR/{{_id}}'>Editar Estado</a>   
                </td>

        </tr>

        {{else}}

        
                 No Record Found
        
        {{/each}}
</table>

 